body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Vesper Libre';
}

header {
    color: rgb(134, 235, 88);
    text-align: center;
    margin-top: 50px;
    line-height: 25%;
}
navbar ul {
    float: left;
}
.media {
    color: rgb(0, 255, 221);
    margin: 10px;
}
.mt-0 {
    color: rgb(183, 226, 210);

}
.media h4 {
    color: rgb(134, 235, 88);
    float: right;
}
.media img {
    border-radius: 50%;
}
a:hover {
    color: rgb(134, 235, 88);
}